.fade-in-bottom{animation:fade-in-bottom .5s cubic-bezier(.39,.575,.565,1.000) both}

@keyframes fade-in-bottom{0%{transform:translateY(50px);opacity:0}100%{transform:translateY(0);opacity:1}}

.fade-out-bottom{animation:fade-out-bottom .5s cubic-bezier(.39,.575,.565,1.000) both}

@keyframes fade-out-bottom{0%{transform:translateY(0);opacity:1}100%{transform:translateY(50px);opacity:0}}

.rotate{animation:rotate-center 1.5s linear infinite both} 

@keyframes rotate-center{0%{transform:rotate(0)translate(-50%, -50%);transform-origin: 0% 0%;}100%{transform: rotate(360deg) translate(-50%, -50%);transform-origin: 0% 0%;}}

.fade-in{animation:fade-in .5s linear both}

@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

.pulsate-bck{animation:pulsate-bck 2s ease-in-out infinite both}

@keyframes pulsate-bck{0%{transform:scale(1)}50%{transform:scale(.9)}100%{transform:scale(1)}}

.blur-in{animation:blur-in .5s linear both}

@keyframes blur-in{0%{filter: blur(0px);}100%{filter: blur(3px)}}

.blur-out{animation:blur-out .5s linear both}

@keyframes blur-out{0%{filter: blur(3px);}100%{filter: blur(0px)}}